@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --blue: rgb(79, 79, 254);
  --orange: rgb(252, 194, 86);
  --gray: rgb(230, 230, 230);
}

div.page-layout {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    'nav header'
    'nav main  ';
  grid-template-columns: 250px 1fr;
  grid-template-rows: 150px 1fr;
}

nav {
  background-color: var(--blue);
  color: white;
  grid-area: nav;
  padding: 16px;

  h1 {
    letter-spacing: 1px;
  }

  ul {
    list-style-type: none;
    margin-top: 32px;

    li {
      margin-top: 16px;
    }

    li:hover {
      cursor: pointer;
    }
  }

  span {
    filter: grayscale(1);
    margin-right: 16px;
  }
}

header {
  background-color: white;
  grid-area: header;
  padding: 16px 32px;

  div.header-top {
    display: flex;
    justify-content: space-between;

    input {
      background-color: var(--gray);
    }

    input::before {
      content: '🔍';
      filter: greyscale(1);
    }
  }

  div.header-bottom {
  }
}

main {
  background-color: var(--gray);
  grid-area: main;
}
